// ██████╗██╗   ██╗██████╗ ███████╗██████╗ ██████╗ ██╗   ██╗███╗   ██╗██╗  ██╗
//██╔════╝╚██╗ ██╔╝██╔══██╗██╔════╝██╔══██╗██╔══██╗██║   ██║████╗  ██║██║ ██╔╝
//██║      ╚████╔╝ ██████╔╝█████╗  ██████╔╝██████╔╝██║   ██║██╔██╗ ██║█████╔╝ 
//██║       ╚██╔╝  ██╔══██╗██╔══╝  ██╔══██╗██╔═══╝ ██║   ██║██║╚██╗██║██╔═██╗ 
//╚██████╗   ██║   ██████╔╝███████╗██║  ██║██║     ╚██████╔╝██║ ╚████║██║  ██╗
// ╚═════╝   ╚═╝   ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝
//
// ICEBAR — NEON DYSTOPIA THEME
// Palette:
//   Void Black    : (5,   5,   8  )
//   Deep Slate    : (12,  12,  18 )
//   Grid Purple   : (28,  14,  45 )
//   Acid Green    : (0,   255, 140)   ← primary neon accent
//   Hot Magenta   : (255, 0,   110)   ← secondary accent / alert
//   Cyan Shock    : (0,   220, 255)   ← tertiary / info
//   Dim Grid      : (40,  20,  60 )   ← module base bg
//   Neon Border   : (0,   255, 140)   ← borders pulse acid green

BarConfig
(

    // ================= GENERAL =================
    general:
    (
        display: None,
        bar_position: Up,
        floating_space: 0,
        increased_exclusive_bar_zone: 0,
        bar_check_reload_interval_ms: Some(500),
        bar_side_spaces_size: 4,
        bar_size: (0, 32),
        bar_border_radius: (0., 0., 0., 0.),
        bar_border_size: 1.5,
        bar_border_color: RGB((0, 255, 140)),
        bar_background_color: RGBA((5, 5, 8, 100)),
        font_family: "JetBrains Mono",
        font_style: "Bold",
        spacing_between_all_modules: 4,
        force_static_position_context_menu: None,
        left_modules: [CustomModule(0), HyprWorkspaces, Cpu, Ram],
        center_modules: [Clock, MediaPlayerMetaData, MediaPlayerButtons],
        right_modules: [Network, VolumeOutput, VolumeInput, Tray],
    ),


    // ================= GENERAL STYLE =================
//    general_style:
//    (
//        general_padding: Some(0),
//        general_text_size: Some(15),
//        general_text_orientation: Some(Horizontal),
//        general_text_color: Some(HEX("FFFFFF")),
//        general_button_color: Some(HEX("322d3c")),
//        general_button_hovered_color: Some(RGB((130, 35, 70))),
//        general_button_hovered_text_color: Some(RGB((255, 255, 255))),
//        general_button_pressed_color: Some(RGB((80, 25, 45))),
//        general_button_gradient_color: None,
//        general_button_pressed_gradient_color: None,
//        general_button_hovered_gradient_color: None,
//        general_border_color: Some(RGB((120, 80, 130))),
//        general_border_size: Some(1.0),
//        general_border_radius: Some((3.0, 3.0, 3.0, 3.0)),
//        general_side_separator: None,
//        general_side_separator_color: Some(RGB((75, 75, 75))),
//        general_side_separator_width: Some(1.0),
//        general_side_separator_height: Some(16.0),
//        general_alt_padding: None,
//        general_alt_text_size: None,
//        general_alt_text_orientation: None,
//        general_alt_text_color: None,
//        general_alt_button_color: None,
//        general_alt_button_hovered_color: None,
//        general_alt_button_hovered_text_color: None,
//        general_alt_button_pressed_color: None,
//        general_alt_border_color: None,
//        general_alt_border_size: None,
//        general_alt_border_radius: None,
//        general_alt_side_separator: None,
//        general_alt_side_separator_color: None,
//        general_alt_side_separator_width: None,
//        general_alt_side_separator_height: None,
//        general_alt_button_gradient_color: None,
//        general_alt_button_pressed_gradient_color: None,
//        general_alt_button_hovered_gradient_color: None,
//    ),


    // ================= CLOCK =================
    clock:
    (
        clock_timezones: None,
        clock_update_interval: 400,
        clock_format: "⬡ %H:%M",
        clock_alt_format: "⬡ %H:%M:%S  //  %a %d %b %Y",
        action_on_left_click_clock: DefaultAction,
        action_on_right_click_clock: CustomAction(["kitty", "bash", "-c", "cal && echo '' && echo '[ PRESS ANY KEY ]' && read -n 1"]),
        clock_side_separator: None,
        clock_side_separator_color: RGB((75, 75, 75)),
        clock_side_separator_width: 1.,
        clock_side_separator_height: 16.,
        alt_clock_side_separator: None,
        alt_clock_side_separator_color: RGB((75, 75, 75)),
        alt_clock_side_separator_width: 1.,
        alt_clock_side_separator_height: 16.,
        clock_button_hovered_gradient_color: None,
        clock_button_pressed_gradient_color: None,
        alt_clock_button_gradient_color: None,
        alt_clock_button_hovered_gradient_color: None,
        alt_clock_button_pressed_gradient_color: None,
        clock_padding: 0,
        clock_text_size: 14,
        clock_text_color: RGB((255, 0, 110)),
        clock_text_orientation: Horizontal,
        clock_button_color: RGB((20, 5, 15)),
        clock_button_hovered_color: RGB((0, 255, 140)),
        clock_button_hovered_text_color: RGB((5, 5, 8)),
        clock_button_pressed_color: RGB((180, 0, 80)),
        clock_border_color: RGB((255, 0, 110)),
        clock_border_size: 1.5,
        clock_border_radius: (0.0, 0.0, 0.0, 0.0),
        alt_clock_padding: 0,
        alt_clock_text_size: 13,
        alt_clock_text_color: RGB((255, 0, 110)),
        alt_clock_text_orientation: Horizontal,
        alt_clock_button_color: RGB((20, 5, 15)),
        alt_clock_button_hovered_color: RGB((0, 255, 140)),
        alt_clock_button_hovered_text_color: RGB((5, 5, 8)),
        alt_clock_button_pressed_color: RGB((180, 0, 80)),
        alt_clock_border_color: RGB((255, 0, 110)),
        alt_clock_border_size: 1.5,
        alt_clock_border_radius: (0.0, 0.0, 0.0, 0.0),
    ),


    // ================= VOLUME OUTPUT =================
    volume_output:
    (
        output_volume_format:
        (
            "▣  ---%",
            "▣  {}%",
            "▣  {}%",
            "▣  {}%",
            "▣  {}%",
            "▣  {}%!",
        ),
        output_volume_muted_format: "▣  MUTED",
        incremental_steps_output: 5,
        action_on_left_click_volume_output: DefaultAction,
        action_on_right_click_volume_output: CustomAction(["kitty", "pulsemixer"]),
        volume_output_padding: 0,
        volume_output_text_size: 13,
        volume_output_text_color: RGB((0, 220, 255)),
        volume_output_text_orientation: Horizontal,
        volume_output_button_color: RGB((8, 18, 28)),
        volume_output_button_hovered_color: RGB((255, 0, 110)),
        volume_output_button_hovered_text_color: RGB((5, 5, 8)),
        volume_output_button_pressed_color: RGB((0, 140, 200)),
        volume_output_border_color: RGB((0, 220, 255)),
        volume_output_border_size: 1.0,
        volume_output_border_radius: (0.0, 0.0, 0.0, 0.0),
        volume_output_side_separator: None,
        volume_output_side_separator_color: RGB((75, 75, 75)),
        volume_output_side_separator_width: 1.,
        volume_output_side_separator_height: 20.,
        volume_output_button_gradient_color: None,
        volume_output_button_hovered_gradient_color: None,
        volume_output_button_pressed_gradient_color: None,
    ),


    // ================= MUTED VOLUME OUTPUT =================
    muted_volume_output:
    (
        muted_volume_output_padding: 0,
        muted_volume_output_text_size: 13,
        muted_volume_output_text_color: RGB((255, 0, 110)),
        muted_volume_output_text_orientation: Horizontal,
        muted_volume_output_button_color: RGB((25, 5, 12)),
        muted_volume_output_button_hovered_color: RGB((0, 255, 140)),
        muted_volume_output_button_hovered_text_color: RGB((5, 5, 8)),
        muted_volume_output_button_pressed_color: RGB((180, 0, 60)),
        muted_volume_output_border_color: RGB((255, 0, 110)),
        muted_volume_output_border_size: 1.0,
        muted_volume_output_border_radius: (0.0, 0.0, 0.0, 0.0),
        muted_volume_output_side_separator: None,
        muted_volume_output_side_separator_color: RGB((75, 75, 75)),
        muted_volume_output_side_separator_width: 1.,
        muted_volume_output_side_separator_height: 20.,
        muted_volume_output_button_gradient_color: None,
        muted_volume_output_button_hovered_gradient_color: None,
        muted_volume_output_button_pressed_gradient_color: None,
    ),


    // ================= VOLUME INPUT =================
    volume_input:
    (
        input_volume_format:
        (
            "◉  ---%",
            "◉  {}%",
            "◉  {}%",
            "◉  {}%",
            "◉  {}%",
            "◉  {}%!",
        ),
        input_volume_muted_format: "◉  MUTED",
        incremental_steps_input: 5,
        action_on_left_click_volume_input: DefaultAction,
        action_on_right_click_volume_input: CustomAction(["kitty", "pulsemixer"]),
        volume_input_padding: 0,
        volume_input_text_size: 13,
        volume_input_text_color: RGB((0, 220, 255)),
        volume_input_text_orientation: Horizontal,
        volume_input_button_color: RGB((8, 18, 28)),
        volume_input_button_hovered_color: RGB((255, 0, 110)),
        volume_input_button_hovered_text_color: RGB((5, 5, 8)),
        volume_input_button_pressed_color: RGB((0, 140, 200)),
        volume_input_border_color: RGB((0, 220, 255)),
        volume_input_border_size: 1.0,
        volume_input_border_radius: (0.0, 0.0, 0.0, 0.0),
        volume_input_side_separator: None,
        volume_input_side_separator_color: RGB((75, 75, 75)),
        volume_input_side_separator_width: 1.,
        volume_input_side_separator_height: 20.,
        volume_input_button_gradient_color: None,
        volume_input_button_hovered_gradient_color: None,
        volume_input_button_pressed_gradient_color: None,
    ),


    // ================= MUTED VOLUME INPUT =================
    muted_volume_input:
    (
        muted_volume_input_padding: 0,
        muted_volume_input_text_size: 13,
        muted_volume_input_text_color: RGB((255, 0, 110)),
        muted_volume_input_text_orientation: Horizontal,
        muted_volume_input_button_color: RGB((25, 5, 12)),
        muted_volume_input_button_hovered_color: RGB((0, 255, 140)),
        muted_volume_input_button_hovered_text_color: RGB((5, 5, 8)),
        muted_volume_input_button_pressed_color: RGB((180, 0, 60)),
        muted_volume_input_border_color: RGB((255, 0, 110)),
        muted_volume_input_border_size: 1.0,
        muted_volume_input_border_radius: (0.0, 0.0, 0.0, 0.0),
        muted_volume_input_side_separator: None,
        muted_volume_input_side_separator_color: RGB((75, 75, 75)),
        muted_volume_input_side_separator_width: 1.,
        muted_volume_input_side_separator_height: 20.,
        muted_volume_input_button_gradient_color: None,
        muted_volume_input_button_hovered_gradient_color: None,
        muted_volume_input_button_pressed_gradient_color: None,
    ),


    // ================= NETWORK =================
    network:
    (
        network_module_format: "{level} ",
        network_disconnected_text: "⚠ NULL_LINK",
        network_level_format:
        (
            "▲ NET",
            "△ NET",
            "▽ NET",
            "✕ NET",
        ),
        network_connection_type_icons:
        (
            "ETH",
            "WLN",
            "UNK",
        ),
        action_on_left_click_network: DefaultAction,
        action_on_right_click_network: DefaultAction,
        network_padding: 0,
        network_text_size: 13,
        network_text_color: RGB((0, 255, 140)),
        network_text_orientation: Horizontal,
        network_button_color: RGB((12, 8, 20)),
        network_button_hovered_color: RGB((255, 0, 110)),
        network_button_hovered_text_color: RGB((5, 5, 8)),
        network_button_pressed_color: RGB((0, 160, 80)),
        network_border_color: RGB((0, 255, 140)),
        network_border_size: 1.0,
        network_border_radius: (0.0, 0.0, 0.0, 0.0),
        network_side_separator: None,
        network_side_separator_color: RGB((75, 75, 75)),
        network_side_separator_width: 1.,
        network_side_separator_height: 16.,
        network_button_gradient_color: None,
        network_button_hovered_gradient_color: None,
        network_button_pressed_gradient_color: None,
    ),


    // ================= ALT NETWORK =================
    alt_network:
    (
        alt_network_module_format: "{level} {connection_type} ⟫ {id} ⟫ {speed}MB/s",
        alt_network_level_format: ( "wifi_good", "wifi_fair", "wifi_low", "wifi_off" ),
        alt_network_connection_type_icons: ( "󰄀", "󠁷", "?" ),
        alt_network_padding: 0,
        alt_network_text_size: 13,
        alt_network_text_color: RGB((0, 220, 255)),
        alt_network_text_orientation: Horizontal,
        alt_network_button_color: RGB((8, 20, 30)),
        alt_network_button_hovered_color: RGB((255, 0, 110)),
        alt_network_button_hovered_text_color: RGB((5, 5, 8)),
        alt_network_button_pressed_color: RGB((0, 140, 200)),
        alt_network_border_color: RGB((0, 220, 255)),
        alt_network_border_size: 1.0,
        alt_network_border_radius: (0.0, 0.0, 0.0, 0.0),
        alt_network_side_separator: None,
        alt_network_side_separator_color: RGB((75, 75, 75)),
        alt_network_side_separator_width: 1.,
        alt_network_side_separator_height: 16.,
        alt_network_button_gradient_color: None,
        alt_network_button_hovered_gradient_color: None,
        alt_network_button_pressed_gradient_color: None,
    ),


    // ================= WORKSPACE =================
    workspace:
    (
        niri_workspaces_update_interval: 225,
        reverse_scroll_on_workspace: false,
        persistent_workspaces: Some(5),
        workspace_height: 30,
        workspace_width: 30,
        workspace_different_selected_width: None,
        workspace_different_selected_height: None,
        workspace_text_size: 13,
        workspace_text_color: RGB((0, 255, 140)),
        workspace_selected_text_color: RGB((255, 255, 255)),
        workspace_text_orientation: Horizontal,
        workspace_text: [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10" ],
        workspace_selected_text: Some( [ "▶01", "▶02", "▶03", "▶04", "▶05", "▶06", "▶07", "▶08", "▶09", "▶10" ]),
        workspace_spacing: 2,
        workspace_padding: 0,
        workspace_button_color: RGB((12, 8, 20)),
        workspace_button_selected_color: RGB((0, 255, 140)),
        workspace_button_hovered_color: RGB((255, 0, 110)),
        workspace_button_hovered_text_color: RGB((5, 5, 8)),
        workspace_button_pressed_color: RGB((0, 180, 90)),
        workspace_border_color: RGB((0, 255, 140)),
        workspace_border_size: 1.0,
        workspace_border_radius: (0.0, 0.0, 0.0, 0.0),
        workspace_side_separator: None,
        workspace_side_separator_color: RGB((75, 75, 75)),
        workspace_side_separator_width: 1.,
        workspace_side_separator_height: 16.,
        workspace_button_gradient_color: None,
        workspace_button_selected_gradient_color: None,
        workspace_button_hovered_gradient_color: None,
        workspace_button_pressed_gradient_color: None,
    ),


    // ================= TRAY =================
    tray:
    (
        tray_icon_size: 18,
        tray_spacing: 4,
        tray_button_size: 4,
        tray_button_color: RGB((18, 10, 28)),
        tray_button_hovered_color: RGB((255, 0, 110)),
        tray_button_hovered_text_color: RGB((5, 5, 8)),
        tray_button_pressed_color: RGB((0, 180, 90)),
        tray_border_color: RGB((0, 255, 140)),
        tray_border_size: 1.0,
        tray_border_radius: (0.0, 0.0, 0.0, 0.0),
        tray_side_separator: None,
        tray_side_separator_color: RGB((75, 75, 75)),
        tray_side_separator_width: 1.,
        tray_side_separator_height: 16.,
        tray_button_gradient_color: None,
        tray_button_hovered_gradient_color: None,
        tray_button_pressed_gradient_color: None,
    ),


    // ================= MEDIA PLAYER METADATA =================
    media_player_metadata:
    (
        player: "spotify",
        media_player_metadata_format: "♪ {{artist}} ⟫ {{title}}",
        media_player_metadata_update_interval: 750,
        dont_show_metadata_if_empty: true,
        text_when_metadata_is_empty: "// NO_SIGNAL",
        media_player_metadata_text_limit_len: 30,
        ellipsis_text: "▒▒",
        action_on_left_click_media_player_metadata: DefaultAction,
        action_on_right_click_media_player_metadata: DefaultAction,
        media_player_metadata_padding: 0,
        media_player_metadata_text_size: 13,
        media_player_metadata_text_color: RGB((0, 255, 140)),
        media_player_metadata_text_orientation: Horizontal,
        media_player_metadata_button_color: RGB((18, 10, 28)),
        media_player_metadata_button_hovered_color: RGB((255, 0, 110)),
        media_player_metadata_button_hovered_text_color: RGB((5, 5, 8)),
        media_player_metadata_button_pressed_color: RGB((0, 160, 80)),
        media_player_metadata_border_color: RGB((0, 255, 140)),
        media_player_metadata_border_size: 1.0,
        media_player_metadata_border_radius: (0.0, 0.0, 0.0, 0.0),
        media_player_metadata_side_separator: None,
        media_player_metadata_side_separator_color: RGB((75, 75, 75)),
        media_player_metadata_side_separator_width: 1.,
        media_player_metadata_side_separator_height: 16.,
        media_player_metadata_button_gradient_color: None,
        media_player_metadata_button_hovered_gradient_color: None,
        media_player_metadata_button_pressed_gradient_color: None,
    ),


    // ================= MEDIA PLAYER BUTTONS =================
    media_player_button:
    (
        media_player_buttons_format: ("⏮", "⏸", "⏵", "⏭"),
        media_player_button_spacing: 3,
        media_player_button_padding: 0,
        media_player_button_text_size: 14,
        media_player_button_text_color: RGB((0, 220, 255)),
        media_player_button_text_orientation: Horizontal,
        media_player_button_color: RGB((18, 10, 28)),
        media_player_button_hovered_color: RGB((255, 0, 110)),
        media_player_button_hovered_text_color: RGB((5, 5, 8)),
        media_player_button_pressed_color: RGB((0, 140, 200)),
        media_player_button_border_color: RGB((0, 220, 255)),
        media_player_button_border_size: 1.0,
        media_player_button_border_radius: (0.0, 0.0, 0.0, 0.0),
        media_player_buttons_side_separator: None,
        media_player_buttons_side_separator_color: RGB((75, 75, 75)),
        media_player_buttons_side_separator_width: 1.,
        media_player_buttons_side_separator_height: 16.,
        media_player_button_gradient_color: None,
        media_player_button_hovered_gradient_color: None,
        media_player_button_pressed_gradient_color: None,
    ),


    // ================= CPU =================
    cpu:
    (
        cpu_format: "CPU {usage}%",
        cpu_update_interval: 1050,
        action_on_left_click_cpu: CustomAction(["kitty", "bash", "-c", "btop"]),
        action_on_right_click_cpu: CustomAction(["kitty", "bash", "-c", "htop"]),
        cpu_padding: 0,
        cpu_text_size: 12,
        cpu_text_color: RGB((0, 255, 140)),
        cpu_text_orientation: Horizontal,
        cpu_button_color: RGB((12, 8, 20)),
        cpu_button_hovered_color: RGB((255, 0, 110)),
        cpu_button_hovered_text_color: RGB((5, 5, 8)),
        cpu_button_pressed_color: RGB((0, 180, 90)),
        cpu_border_color: RGB((0, 255, 140)),
        cpu_border_size: 1.0,
        cpu_border_radius: (0.0, 0.0, 0.0, 0.0),
        cpu_side_separator: None,
        cpu_side_separator_color: RGB((75, 75, 75)),
        cpu_side_separator_width: 1.,
        cpu_side_separator_height: 16.,
        cpu_button_gradient_color: None,
        cpu_button_hovered_gradient_color: None,
        cpu_button_pressed_gradient_color: None,
    ),


    // ================= CPU TEMP =================
    cpu_temp:
    (
        cpu_temp_format: "[Color=(150, 40, 80), String=CPU Temp:] {temp}°C",
        cpu_temp_update_interval: 1050,
        action_on_left_click_cpu_temp: DefaultAction,
        action_on_right_click_cpu_temp: DefaultAction,
        cpu_temp_padding: 0,
        cpu_temp_text_size: 12,
        cpu_temp_text_color: RGB((220, 220, 220)),
        cpu_temp_text_orientation: Horizontal,
        cpu_temp_button_color: RGB((40, 40, 50)),
        cpu_temp_button_hovered_color: RGB((60, 60, 75)),
        cpu_temp_button_hovered_text_color: RGB((255, 255, 255)),
        cpu_temp_button_pressed_color: RGB((30, 30, 40)),
        cpu_temp_border_color: RGB((80, 80, 100)),
        cpu_temp_border_size: 1.0,
        cpu_temp_border_radius: (3.0, 3.0, 3.0, 3.0),
        cpu_temp_side_separator: None,
        cpu_temp_side_separator_color: RGB((75, 75, 75)),
        cpu_temp_side_separator_width: 1.,
        cpu_temp_side_separator_height: 16.,
        cpu_temp_button_gradient_color: None,
        cpu_temp_button_hovered_gradient_color: None,
        cpu_temp_button_pressed_gradient_color: None,
    ),


    // ================= RAM =================
    ram:
    (
        ram_format: "RAM {used}M/{total}M",
        ram_update_interval: 1050,
        ram_padding: 0,
        ram_text_size: 12,
        ram_text_color: RGB((0, 255, 140)),
        ram_text_orientation: Horizontal,
        ram_button_color: RGB((12, 8, 20)),
        ram_button_hovered_color: RGB((255, 0, 110)),
        ram_button_hovered_text_color: RGB((5, 5, 8)),
        ram_button_pressed_color: RGB((0, 180, 90)),
        ram_border_color: RGB((0, 255, 140)),
        ram_border_size: 1.0,
        ram_border_radius: (0.0, 0.0, 0.0, 0.0),
        ram_side_separator: None,
        ram_side_separator_color: RGB((75, 75, 75)),
        ram_side_separator_width: 1.,
        ram_side_separator_height: 16.,
        ram_button_gradient_color: None,
        ram_button_hovered_gradient_color: None,
        ram_button_pressed_gradient_color: None,
    ),


    // ================= DISK =================
    disk:
    (
        disk_format: "[Color=(150, 40, 80), String=Disk Used:] {used}GB / {percent}% | [Color=(150, 40, 80), String=Disk Total:] {total}GB",
        disk_mount: "/",
        disk_update_interval: 10000,
        disk_padding: 0,
        disk_text_size: 12,
        disk_text_color: RGB((220, 220, 220)),
        disk_text_orientation: Horizontal,
        disk_button_color: RGB((40, 40, 50)),
        disk_button_hovered_color: RGB((60, 60, 75)),
        disk_button_hovered_text_color: RGB((255, 255, 255)),
        disk_button_pressed_color: RGB((30, 30, 40)),
        disk_border_color: RGB((80, 80, 100)),
        disk_border_size: 1.0,
        disk_border_radius: (3.0, 3.0, 3.0, 3.0),
        disk_side_separator: None,
        disk_side_separator_color: RGB((75, 75, 75)),
        disk_side_separator_width: 1.,
        disk_side_separator_height: 20.,
        disk_button_gradient_color: None,
        disk_button_hovered_gradient_color: None,
        disk_button_pressed_gradient_color: None,
    ),


    // ================= CONTEXT MENU =================
    context_menu:
    (
        context_menu_background_color: RGBA((5, 5, 8, 100)),
        context_menu_background_size: 4,
        context_menu_background_border_color: RGB((0, 255, 140)),
        context_menu_background_border_size: 1.5,
        context_menu_background_border_radius: (0.0, 0.0, 0.0, 0.0),
        context_menu_text_size: 13,
        context_menu_text_color: RGB((0, 255, 140)),
        context_menu_orientation: Vertical,
        context_menu_size: 280,
        context_menu_item_size: 28,
        context_menu_button_color: RGB((12, 8, 20)),
        context_menu_button_hovered_color: RGB((255, 0, 110)),
        context_menu_button_hovered_text_color: RGB((5, 5, 8)),
        context_menu_button_pressed_color: RGB((0, 180, 90)),
        context_menu_border_color: RGB((0, 255, 140)),
        context_menu_border_size: 1.0,
        context_menu_border_radius: (0.0, 0.0, 0.0, 0.0),
    ),


    // ================= FOCUSED WINDOW =================
    focused_window:
    (
        focused_window_format: "{title}",
        focused_window_update_interval: 500,
        dont_show_focused_window_if_empty: true,
        text_when_focused_window_is_empty: "No Window Focused",
        focused_window_text_limit_len: 25,
        focused_window_padding: 0,
        focused_window_text_size: 12,
        focused_window_text_color: RGB((220, 220, 220)),
        focused_window_text_orientation: Horizontal,
        focused_window_button_color: RGB((40, 40, 50)),
        focused_window_button_hovered_color: RGB((60, 60, 75)),
        focused_window_button_hovered_text_color: RGB((255, 255, 255)),
        focused_window_button_pressed_color: RGB((30, 30, 40)),
        focused_window_border_color: RGB((80, 80, 100)),
        focused_window_border_size: 1.0,
        focused_window_border_radius: (3.0, 3.0, 3.0, 3.0),
        focused_window_side_separator: None,
        focused_window_side_separator_color: RGB((75, 75, 75)),
        focused_window_side_separator_width: 1.,
        focused_window_side_separator_height: 16.,
        focused_window_button_gradient_color: None,
        focused_window_button_hovered_gradient_color: None,
        focused_window_button_pressed_gradient_color: None,
    ),


    // ================= CUSTOM MODULE =================
    custom_module:
    (
        custom_modules_spacing: 6,
        custom_modules:
        [
            (
                name: "SYS_LABEL",
                text: "⬡ SYS",
                text_size: 13,
                text_color: RGB((5, 5, 8)),
                text_orientation: Horizontal,
                height: 26,
                button_color: RGB((255, 0, 110)),
                button_hovered_color: RGB((0, 255, 140)),
                button_hovered_text_color: RGB((5, 5, 8)),
                button_pressed_color: RGB((180, 0, 80)),
                border_color: RGB((255, 0, 110)),
                border_size: 1.5,
                border_radius: (0.0, 0.0, 0.0, 0.0),
                display_err_output_if_failed: false,
                dont_show_if_any_output_is_empty: false,
                use_output_as_text: false,
                use_continous_output_as_text: false,
                all_output_as_text_format: "",
                output_text_limit_len: 0,
                command_to_exec_on_left_click: ["wofi", "--show", "drun"],
                command_to_exec_on_right_click: ["wofi", "--show", "run"],
                continous_command_interval: 500,
                continous_command: [],
            ),
        ],
    ),


)
